<div class="content" role="main">
    <span class="titulo">
        Usuarios Registrados
    </span>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Editar</th>
            </tr>
        </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td>AAC</td>
              <td>AUSTRALIAN COMPANY </td>
              <td>$1.38</td>
              <td>+2.01</td>
              <td class="editar"><button type="button" class="btn btn-secondary"><img src="./assets/editar.png" alt=".." class="pequeña"></button></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>