.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.wrap-login100 {
    width: 50%;
    background: #fff;
	position: fixed;
    border-radius: 30px;
	text-align: center;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.login100-form {
	width: 100%;
	position: relative;
}

.login100-form-title {
	font-family: JosefinSans-Bold;
	font-size: 30px;
	border-radius: 30px;
	color: #fff;
	line-height: 1.2;
	text-align: center;
	display: block;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #71137e;
	padding-top: 50px;
	padding-bottom: 39px;
}

.container-login100-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border:0px;
}

.login100-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 200px;
	height: 50px;
	margin-top: 0px;
	background-color: #71137e;
	border-radius: 25px;
	border:0px;
  
	font-family: Ubuntu-Bold;
	font-size: 15px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
  
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
  
.login100-form-btn:hover {
	background-color: #44114b;
}

.campos{
	margin-top: 10px;
}

.form{
	text-align: justify;
	padding: 50px 80px;
}