<div class="content" role="main">

    <!-- Registro -->
    <div class="limiter">
          <div class="container-login100">
              <div class="wrap-login100">
                  <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                        <span class="login100-form-title">
                            Registro
                        </span>
  
                        <div class="wrap-input100 validate-input m-b-16" data-validate="Porfavor ingresa tu Nombre">
                            <input class="input100" type="text" name="name" placeholder="Nombre">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-16" data-validate="Porfavor ingresa tu Apellido Paterno">
                            <input class="input100" type="text" name="name" placeholder="Apellido Paterno">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-16" data-validate="Porfavor ingresa tu Apellido Materno">
                            <input class="input100" type="text" name="name" placeholder="Apellido Materno">
                            <span class="focus-input100"></span>
                        </div>
                      
                        <div class="wrap-input100 validate-input m-b-16" data-validate="Porfavor ingresa tu Usuario">
                            <input class="input100" type="text" name="username" placeholder="Usuario">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "Porfavor ingresa tu Contraseña">
                            <input class="input100" type="password" name="pass" placeholder="Contraseña">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Ingresar
                            </button>
                        </div>
  
                        <div class="flex-col-c p-t-170 p-b-40"></div>
                  </form>
              </div>
          </div>
      </div>
  </div>