<div class="content" role="main">

    <!-- Registro -->
    <div class="limiter">
          <div class="container-login100">
              <div class="wrap-login100">
                  <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                        <span class="login100-form-title">
                            Editar Usuario
                        </span>
                        
                        <b class="campos">Nombre:</b> 
                        <div class="wrap-input100 validate-input m-b-16" data-validate="Porfavor ingresa tu Nombre">
                            <input class="input100" type="text" name="name" [(ngModel)]="name">
                            <span class="focus-input100"></span>
                        </div>
                        
                        <b class="campos">Apellido Paterno:</b>
                        <div class="wrap-input100 validate-input m-b-16" data-validate="Porfavor ingresa tu Apellido Paterno">
                            <input class="input100" type="text" name="middle_name" [(ngModel)]="middle_name">
                            <span class="focus-input100"></span>
                        </div>

                        <b class="campos">Apellido Materno:</b>
                        <div class="wrap-input100 validate-input m-b-16" data-validate="Porfavor ingresa tu Apellido Materno">
                            <input class="input100" type="text" name="last_name" [(ngModel)]="last_name">
                            <span class="focus-input100"></span>
                        </div>
                        
                        <b class="campos">Usuario:</b>
                        <div class="wrap-input100 validate-input m-b-16" data-validate="Porfavor ingresa tu Usuario">
                            <input class="input100" type="text" name="username" [(ngModel)]="username">
                            <span class="focus-input100"></span>
                        </div>

                        <!-- <div class="wrap-input100 validate-input" data-validate = "Porfavor ingresa tu Contraseña">
                            <input class="input100" type="password" name="pass">
                            <span class="focus-input100"></span>
                        </div> -->

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" (click)="update()">
                                Actualizar
                            </button>
                        </div>  
                       
                        <button class="p-button-sm btn btn-secondary" routerLink="/users" style="margin-top: 20px;">
                            <i class="pi pi-arrow-circle-left" style="font-size: 0.8rem"></i> Cancelar
                        </button>

                        <div class="flex-col-c p-t-170 p-b-40" style="padding-bottom: 10px;"></div>
                  </form>
              </div>
          </div>
      </div>
  </div>